<div *ngIf="loaded">
  <div style="display: flex; font-size: 16px">
    <div>
      <div *ngFor="let anime of translatorsName" style="justify-content: flex-end; max-width: 600px">
        <h5><span class="badge badge-secondary">{{anime.name}}</span></h5>
        <div *ngFor="let animeSourceTitle of anime.translations">
          <button (click)="sendURL(animeSourceTitle.url)">{{animeSourceTitle.name}}</button>
        </div>
      </div>
    </div>
    <div style="margin-left: 40px">
      <iframe width="693" height="406" allowfullscreen *ngIf="urlSelect"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(takeURL())">
      </iframe>
      <img style="width: 693px; height: 406px" [src]="imageByDefault" *ngIf="!urlSelect"/>
    </div>
    <div style="margin-left: 30px;">
        <h5>{{episode}} / {{allepisodes}}</h5>
      <button type="button" class="btn btn-dark" style="margin-left: 15px;" (click)="addOneEpisode()">+</button>
    </div>
  </div>
</div>

<div *ngIf="!loaded">
  please wait
</div>
